html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.comment{
    display:list-item;
    margin:10px;
    line-height:20px;
    white-space: normal;
}

.p_post {
    width:1140px;
    white-space: pre-line;

}

.blog-form{
    margin-top:10px;
}
.submit {
    width: 60px;
    height: 20px;
    padding: 0 0 2px;
    font: 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
    outline: none;
    position: relative;
    cursor: pointer;
    border-radius: 3px;
    color: #FFF;
    border: 1px solid #434343;
    border-top: 1px solid #535353;
    border-bottom: 1px solid #353535;
    text-shadow: 1px 1px #2F2F2F;
    box-shadow:
            inset 0 1px #939393,
            inset 1px 0 #707070,
            inset -1px 0 #707070,
            inset 0 -1px #5A5A5A,
            0 2px #414141,
            0 3px #343434,
            0 4px 2px rgba(0,0,0,0.4)
;
    background: -moz-linear-gradient(top,  #656565 0%, #444444 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#656565), color-stop(100%,#444444)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #656565 0%,#444444 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #656565 0%,#444444 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #656565 0%,#444444 100%); /* IE10+ */
    background: linear-gradient(top,  #656565 0%,#444444 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#656565', endColorstr='#444444',GradientType=0 ); /* IE6-9 */
    background-color: #464646;
}
.submit::-moz-focus-inner{border:0}
.submit:hover {
    border-top: 1px solid #464646;
    box-shadow:
            inset 0 1px #818181,
            inset 1px 0 #707070,
            inset -1px 0 #707070,
            inset 0 -1px #6B6B6B,
            0 2px #414141,
            0 3px #343434,
            0 4px 2px rgba(0,0,0,0.4)
;
    background: -moz-linear-gradient(top,  #656565 0%, #565656 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#656565), color-stop(100%,#565656)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #656565 0%,#565656 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #656565 0%,#565656 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #656565 0%,#565656 100%); /* IE10+ */
    background: linear-gradient(top,  #656565 0%,#565656 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#656565', endColorstr='#565656',GradientType=0 ); /* IE6-9 */
    background-color: #464646;
}
.submit:active {
    top: 3px;
    border: 1px solid #3A3A3A;
    border-top: 1px solid #2F2F2F;
    border-bottom: 1px solid #404040;
    background: #484848;
    box-shadow: inset 0 1px 2px #252525;
}
.commentText{
    word-wrap: break-word;
}